body{
    background-size: 100vw 100vh
}

.ingresotab {
    margin: auto; 
	background-color: #f5f5f5;
	border: 1pc solid #e0dede;
	border-radius: 4px 4px 0 0;
	margin-top: 50px;
	text-align: center;
}
.botoningreso{
	background: none repeat scroll 0 0 #669900;
    border: 1px solid #29691D !important;
    color: #FFFFFF !important;
    transition: border 0.2s ease 0s;
}
.headsisvaa{
	min-height: 20px;
	margin-bottom: 5px;
	background-color: #f5f5f5;
	border: 1px solid #e0dede;
	border-color: #ddd;
	padding: 2px;
}
.headtab{
    margin: auto;
    background-color:#a6a6a6;
	margin: 1px;
}
.headtr{
	width: 100%;
}
.headdiv{
	width: 100px;
    text-align: center;
}
.headh6{
	margin-top: 2px; 
	margin-bottom: 2px;
}

.menu{
    margin: auto;
    align-content: 
	height: 100%;
    width: 250px;
    background-color: #efefef;
    position: fixed!important;
    top:82px;
    left: 0px;
    z-index: 1;
    overflow: auto;
}
.menu1{
    background-color: #a6a6a6;
	height: 100%;
    width: 250px;
    padding-top: 0px; 
    background-color: ;
    position: fixed!important;
    top:82px;
    left: 0px;
    overflow: auto;
}
.menu2 {
	height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 1px;
}
.menuadmin {
    background-color: #a6a6a6;
	height: 100%;
	width: 100%;
	border: 0px;
}

.menuadmin1 {
    background-color: #a6a6a6;
    height: 100px;
    width: 100%;
    border: 0px;
    overflow: auto;
}
.contenido {
    background-image: url("../css/Imagenes/clase.jpg");
    background-size: 100vw 100VH;
	height: 100%;
    width: 100%;
    position: fixed!important;
    top:82px;
    left: 250px;
    z-index: 1;
    overflow: auto;
}
.contenido1{
    background: transparent);
	height: 100%;
    width: 100%;
    padding-top: 10px; 
    background-color: transparent;
    position: fixed!important;
    top:82px;
    left: 250px;
    overflow: auto;
}
.contenido2 {
    background: transparent;
    margin:auto;
    margin-top: 100px;
	height: 100%;
    width: 1090px;
    overflow-y: auto;
    overflow-x: auto;
    padding: 1px;
}
.contenidoadmin{
    background: transparent;
    margin: auto;
    margin-top: 50px;
	height: 100%;
	width: 100%;
    overflow: auto;
    border: 0px;
    padding-right: 1px;
}
.accordion1 {
    background: transparent;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion1.active, .accordion1:hover {
    background-color: #ddd; 
}
.usuario{
    width: 25%; 
    display: inline; 
    margin: 5px;
}
.select01 {
    width: 100%;
    padding: 5px;
    border: 1px solid #e3e3e3;
    margin: 5px;
    border-radius: 5px;
}
.input01 {
    width: 100%;
    padding: 5px;
    border: 1px solid #e3e3e3;
    margin: 5px;
    border-radius: 5px;
}
.inputboton01 {
    width: 50%;
    padding: 5px;
    border: 1px solid #e3e3e3;
    margin: 5px;
    border-radius: 5px;
}

.inputboton01.active, .inputboton01:hover {
    border: 1px solid #D0D0D0;
    background-color: #C1C1C1: 
}
.td01 {
    text-align: right;
    width: 25%
}
.td02{
    text-align: center; 
}
.tableperson {
    width: 100%; 
    padding: 5px
}
.thperson {
    width: 50%; 
    padding: 5px
}
.container1 {
    padding: 10px;
}
.iframe{
    background: transparent;
}
.#document{
    background: transparent;
}